*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 65px;
  margin-right: 152.1210px;
}

ul {
  flex-direction: row;
  display: flex;
  list-style: none;
  gap: 48.04px;
  
}

a {
  opacity: 0.5;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  color: #1F1534;
}

a:hover {
  color: #1F1534;
  font-weight: bold;
}

.treineme {
  margin-left: 122.1px;
}

section {
  margin-top: 106px;
  
  flex-shrink: 0;
  display: flex;
  margin-left: 119.09px;
  margin-right: 152.12px;
  height: 100%;
  justify-content: space-between;
}

.titulo {   
  width: 489.382px;
  height: 102px;
}

.container {
  margin-right: 102.08px;
}

.titulo h1 {
  font-family: 'Mulish', sans-serif;
  color: #1F1534;
  font-weight: 400;
  font-size: 49px;
  padding-top:50px;
}

.titulo h1 span {
  color: #89C5CC;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
}

.texto {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; 
  margin-top: 40px;
  width: 438px;
  height: 84px;
  color: #7D7987;
}

.figura {
  width: 417.326px;
  height: 500px;
  
  display: flex;
  
}

button {
  width: 182px;
  height: 52px;
  margin-top: 40px;
  background-color: #69B99D;    
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  color: #F9F9F9;
  font-family: 'Mulish', sans-serif;
}

button p {
  margin-left: 10px;
}

button:hover {
  background: #4EA788;
}

footer {
  font-size: 14px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 80px;
}

.logofim {
  text-align: end;
  position: fixed;
  bottom: 0;
  right: 0;
  
}

footer p {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

footer p a {
  color: #000;
  font-weight: bold;
}
  




/*


.texto {
  height: 84px;
  width: 438.342px;
  margin-left: 120.09px;
  margin-top: 40px;
}

.texto p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; 
}

.texto p strong {
  font-weight: 700;
  color: #7D7987;
  }

  



.figura {
  
  border: red solid 3px;
   height: 433.64px; 
   width: 500px;
   
}

.page {
  border: solid blue 3px;
  width: 1008.787px;
  height: 433.64px;
  flex-shrink: 0;
}
  



























/*
body {
    margin: 0;
  
    font-family: "Open Sans", sans-serif;
  
    background: linear-gradient(90deg, rgb(227, 255, 248, 0) 82.08%, rgb(227, 255, 248, 0.38) 100%);
  
    min-height: 100vh;
  }
  
  .page {
    width: 600px;
    margin: 0 auto;
    padding-top: 65px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-bottom: 15px;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #1f1534;
    text-decoration: none;
  }
  
  ul li a {
      opacity: 0.5;
  }
  
  ul li a:hover {
    font-weight: bold;
    opacity: 1;
  }
  
  h1,
  ul {
    font-family: "Mulish", sans-serif;
  }
  
  h1 {
    font-size: 49px;
    line-height: 56px;
    color: #1f1534;
  
    font-weight: normal;
  
    width: 490px;
  }
  
  h1 span {
    color: #89c5cc;
    font-weight: bold;
  }
  
  section p {
    font-size: 14px;
    line-height: 28px;
    color: #7d7987;
  
    margin: 40px 0;
  }
  
  button {
    color: white;
    font-family: "Open Sans", sans-serif;
  
    background: #69B99D;
    border: 0;
    padding: 0 50px 30px;
  
    display: flex;
    justify-content: space-around;
    gap: 50px;
  
    border-radius: 4px;
  
    cursor: pointer;
  }
  
 
  
 
  
  footer a {
    font-weight: bold;
  }
  
  #balls {
      bottom: 0;
      right: 0;
  }
  */